{% extends "bases/base_sections/base_schedule.html" %}

{% block content %}

<h2>Days</h2>

<ul>
{% for object in object_list %}
    <li>
        <a href="{{ object.get_absolute_url }}">{{object.name}} - {{object}}</a>
    </li>
{% endfor %}
</ul>

<p>
{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Previous page</a>
{% endif %}
{{ page }} of {{ pages }}
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next page</a>
{% endif %}
</p>

{% endblock %}