{% extends "bases/base_sections/base_custom_ingredients.html" %}

{% block content %}

<h2>Custom Ingredients (user-defined)</h2>
(<a href="{% url meal_custom_ingredient_create %}">Create a Custom Ingredient</a>)

<ul>
{% for object in object_list %}
    <li>
        <a href="{{ object.get_absolute_url }}">{{object.name|title}}</a>
        (<a href="{% url meal_custom_ingredient_update object.id %}">edit</a>,
        <a href="{% url meal_custom_ingredient_delete object.id %}">delete</a>)
    </li>
{% endfor %}
</ul>

<p>
{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Previous page</a>
{% endif %}
{{ page }} of {{ pages }}
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next page</a>
{% endif %}
</p>

{% endblock %}